<form class="formulario" [formGroup]="form" (ngSubmit)="onSubmit()">
  <label for="idName">ID Name</label>
<input id="idName" type="text" formControlName="idName">
 
  
  
  <label class="label">
      Descripción:
      <input class="input" type="text" formControlName="description">
    </label>
  
    <label class="label">
      Fecha de fundación:
      <input class="input" type="text" formControlName="date_fundation">
    </label>
  
    <button class="boton-submit" type="submit">{{ submitButtonText }}</button>
  </form>
  