<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label for="idName">ID Name</label>
  <input id="idName" type="text" formControlName="idName">

  <label class="label">
    Descripción:
    <input class="input" type="text" formControlName="description">
  </label>

  <label class="label">
    Fecha de fundación:
    <input class="input" type="text" formControlName="date_fundation">
  </label>

  <label class="label">
    Liga:
    <select class="input" formControlName="leagueId">
      <option *ngFor="let league of leagues" [value]="league.id">{{ league.name }}</option>
    </select>
  </label>
  
  <label class="label">
    Categoría:
    <select class="input" formControlName="categoryId">
      <!-- Mostrar un mensaje si categories está vacío -->
      <option *ngIf="categories.length === 0" disabled>Sin categorías disponibles</option>
  
      <!-- Mostrar las categorías si están disponibles -->
      <option *ngFor="let category of categories" [value]="category.id">{{ category.categorias }}</option>
    </select>
  </label>

  <button class="boton-submit" type="submit">{{ submitButtonText }}</button>
</form>

  