/* login.component.css */
.login-container {
    background-color: var(--color-fondo); /* Fondo crema */
    color: var(--color-texto); /* Azul bonito para el texto */
    font-family: var(--font-family);
    padding: var(--padding);
    border-radius: var(--border-radius);
    text-align: center;
  }
  
  .login-link, .logout-link {
    text-decoration: none;
    color: var(--color-texto);
    font-weight: bold;
    margin: 0 10px;
    font-size: var(--font-size);
  }
  
  .login-link:hover, .logout-link:hover {
    color: var(--color-hover);
    text-decoration: underline;
  }
  
  