<app-menu-categoria>
  
</app-menu-categoria>

<app-btn-descargar
  targetId="app-tabla-general-lay"
  [nombreArchivo]="nombreArchivo"
></app-btn-descargar>

<div id="app-tabla-general-lay">
  <app-tabla-general-layer
    [clasificacion]="clasificacion"
    [liga]="liga"
    [typeTorneo]="'Tabla General'"
    [torneo]="categoria"
  ></app-tabla-general-layer>
</div>

<button (click)="toggleJson()">
  {{ mostrarJson ? 'Ocultar JSON' : 'Mostrar JSON' }}
</button>

<div *ngIf="mostrarJson">
  <pre>{{ clasificacion | json }}</pre>
</div>