<form class="formulario" [formGroup]="form" (ngSubmit)="onSubmit()">
    <label class="label">
      Nombre del equipo:
      <input class="input" type="text" formControlName="name">
    </label>
  
    <label class="label">
      Fecha de fundación:
      <input class="input" type="date" formControlName="Date">
    </label>
  
    <div class="imagen-preview" *ngIf="imagePreview">
      <img class="PhotoTablas" [src]="apiruta + '/teams/' + imagePreview" alt="Logo del equipo">
    </div>
  
    <label class="label">
      Logo:
      <input class="input" type="file" (change)="onFileChange($event)">
    </label>
  
    <button class="boton-submit" type="submit">{{ submitButtonText }}</button>
  </form>
  