.equipos-list button {
  margin: 5px;
  padding: 8px 12px;
  border: 1px solid #aaa;
  background-color: white;
  cursor: pointer;
}

.equipos-list button.selected {
  background-color: #a35252;
  color: white;
  border-color: #7a2f2f;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sugerencia-container table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.sugerencia-container th, .sugerencia-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.descanso-info {
  margin-top: 20px;
  background-color: #ffe0e0;
  padding: 10px;
  border: 1px solid #ff8888;
  max-width: 200px;
}

.sugerencia-container {
  margin-top: 30px;
}

.sugerencia-tabla {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.sugerencia-tabla th,
.sugerencia-tabla td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}