/* You can add global styles to this file, and also import other style files */
/* styles.css o styles.scss */

/* Definición de variables globales */
:root {
    --color-fondo: #f5f5dc; /* Fondo crema */
    --color-texto: #1E90FF; /* Azul bonito */
    --color-hover: #4682B4; /* Azul oscuro al pasar el mouse */
    --font-family: Arial, sans-serif; /* Familia de fuente */
    --font-size: 16px; /* Tamaño de fuente */
    --padding: 10px 20px; /* Padding del contenedor */
    --border-radius: 8px; /* Radio de bordes */
    --color-fondo-menu: #333; /* Fondo oscuro para el menú */
    --color-texto-menu: #fff; /* Blanco para el texto del menú */
    --color-hover-menu: #4682B4; /* Azul para hover en menú */
    --color-active-menu: #1E90FF; /* Azul para enlace activo */
    --font-size-menu: 18px; /* Tamaño de fuente del menú */
    --shadow-card: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para la card */
    --font-size-title: 24px; /* Tamaño de fuente del título */
  }

  body{
    background-color: var(--color-fondo);

  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-family: var(--font-family);
    font-size: var(--font-size);
    box-shadow: var(--shadow-card);
    background-color: white;
    border-radius: var(--border-radius);
    overflow: hidden;
  }
  
  th, td {
    padding: var(--padding);
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: var(--color-fondo-menu);
  }
  
  th {
    background-color: var(--color-fondo-menu);
    color: var(--color-texto-menu);
    font-weight: bold;
    font-size: var(--font-size-menu);
  }
  
  /* Colores alternados por fila */
  tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* color claro */
  }
  tbody tr:nth-child(odd) {
    background-color: white;
  }
  
  tbody tr:hover {
    background-color: var(--color-hover);
    color: white;
  }
  
  /* Fotos cuadradas con esquinas suaves */
  img.PhotoTablas {
    width: 50px;
    height: 50px;
    border-radius: 8px; /* Bordes ligeramente redondeados */
    object-fit: cover;
    box-shadow: var(--shadow-card);
  }
  
  a {
    color: var(--color-texto);
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    color: var(--color-hover);
    text-decoration: underline;
  }
  
  input[type="text"] {
    padding: var(--padding);
    margin-bottom: 1rem;
    font-size: var(--font-size);
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    width: 100%;
    max-width: 300px;
  }
  
  