<!-- Search Input Field -->
<input type="text" [(ngModel)]="searchQuery" placeholder="Buscar por nombre..." />

<a *ngIf="isLoggedIn" routerLink="NewJugador" routerLinkActive="active">Crear Jugador</a>

<!-- La tabla jugadores deberia ir en un componente -->

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Sexo</th>
      <th>Correo electrónico</th>
      <th>Fecha de Nacimiento</th>
      <th>Foto</th>
      <th>Curp</th>
      <th>Editar</th>
    </tr>
  </thead>
  <tbody>
    <!-- Loop through jugadores array and display each player -->
    <tr *ngFor="let jugador of filteredPlayers()">
      <td>{{ jugador.id }}</td>
      <td>{{ jugador.name }}</td>
      <td>{{ jugador.sex }}</td>
      <td>{{ jugador.Email }}</td>
      <td>{{ jugador.birthDate }}</td>
      <td><img class="PhotoTablas" [src]="apiruta + '/public/participants/' + jugador.Photo" alt="Foto del jugador" /></td>
      <td>{{ jugador.Curp }}</td>
      <td><a [routerLink]="['/edit', jugador.id]">Edit</a></td>
    </tr>
  </tbody>
</table>

